body {
    background-color: #3E5574;
}

#snowy-title {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#navigation-bar {
    float: top;
    background-color: #990099;
    border-width: 3px;
    border-style: ridge;
    border-color: red;
    width: 400px;
}

#snowy-home-icon {
    width: 150px;
    margin: 5px;
}

#snowy-blog{

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.snowy-blog-post{
    padding: 10px;
}