# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/modules.xml
.idea/starwar15432.github.io.iml
.idea/workspace.xml
nothing.html

*.xml
