.content {
    /*margin-left:100px;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    display: table;
    margin: auto;
}

.content-in {
    margin: 0 auto;
    width: 500px;
    border-bottom: 1px solid #e5e5e5;

}

.side-strip {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #dadada;
    height:100%;
    z-index: -99;
}

.background {

}




.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 5px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}