body:not(.uln, .lin, .lian) {
    display: table;
    margin: auto;
}

h1 {
    display: table;
    margin: auto;
}

p {
    display: table;
    margin: auto;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 5px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.content {
    /*margin-left:100px;*/
    /*margin-top: 10px;*/
    display: table;
    margin: auto;
}

.content-in {
    margin: 10px auto;
    width: 500px;
    border-bottom: 1px solid #e5e5e5;

}

.postFooter {
    /*margin: 10px auto 10px auto;*/
    position: relative;
    display: table;
    margin: 15px auto auto;
}