.side-strip {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #dadada;
    height:100%;
    z-index: -99;
}

.header {
    float: top;
    display: inline-block;
    display: -moz-inline-stack; /* for firefox 2 */
    *display: inline; /* for ie 6 and 7 */

    margin-left:45px;
}

.background {
    background-color: #ffffff;
}