#indexContent {
    display: table;
    margin: 0 auto;
}

#projectListDiv {
    margin-left: 75px;
    float: left;
    background-color: #ededed;
    width: 30vw;
    height: auto;
}

#linkListDiv {
    margin-left: 5vw;
    display:inline-block;
    background-color: #ededed;
    width: 30vw;
    height: auto;
}

.QAThingLink:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
}

.QAThingLink:hover:before {
    content: "\f140";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
}

.linkListItem {
    margin-top: 5px;
}

.steamLink:before {
    content: "\f1b7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
}

.githubLink:before {
    content: "\f09b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
}

.screepsLink:before {
    content: "\f0c1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
}